@font-face {
    font-family: "F77 Minecraft";
    src: url("../assets/fonts/F77 Minecraft.ttf") format("truetype");
}
@font-face {
    font-family: "Undertale-Battle-Font";
    src: url("../assets/fonts/Undertale-Battle-Font.ttf") format("truetype");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: F77 Minecraft, Tahoma, serif;
}

body {
    background: #fffcf0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    grid-template-rows: 50px;
    display: grid;
    width: 100%;
    height: 100%;
}

.content {

}

.Error {
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
}