.Navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #a1d4e2;
}

.navbar__logo {
    font-size: 20px;
}

.navbar__logo__link {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar__searcher {
    width: 30%;
}

.navbar__links {
    font-size: 16px;
}

.links {
    border-radius: 6px;
    color: white;
}

.navbar__underLine {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 4px;
    background: #f3eed8;
}

.searchedBlock {
    width: 30%;
    position: fixed;
    background: white;
    z-index: 9999;
    border: 2px solid #a1d4e2;
}

.searchedBlock a {
    text-decoration: none;
    color: black;
}

.searchedItem {
    padding: 10px;
    cursor: pointer;
}

.searchedItem:hover {
    color: white;
    background: #a1d4e2;
}

@media (max-width: 1912px) and (min-width: 1302px){

}
@media (max-width: 1302px){
    .navbar__logo {
        display: none;
    }
}
@media (max-width: 604px){

}